@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*variavel pseudo-codigo*/
:root{
    --cor0: #a7dabcc9;  
    --cor1: #86e1ad;
    --cor2: #3ddc84;
    --cor3: #2af866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', serif;
}

* {
    margin: 0px;
    padding: 0%;
}
body{background-color: var(--cor0); font-family: var(--fonte-padrao);}

a.externo::after{content: "\1F517";}

header{background-image: linear-gradient(to bottom, #2b9458, var(--cor5)); min-height: 150px; text-align: center; padding-top: 40px;}

header > h1 {color: white; font-family: var(--font-destaque); margin-bottom: 30px; font-size: 3em; text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.445);}

header > p {color: white;font-size: 1.2em; padding-left: 10px; padding-right: 10px; text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.445);}

nav{background-color: var(--cor5); box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.39); padding: 10px;}

nav > a {color: white; padding: 10px; text-decoration: double; font-weight: bold;}

nav > a:hover {background-color: var(--cor3); color: black; border-radius: 5px; transition-duration: 0.2s;}

img {width: 100%;}

img.pequena{max-width: 350px; display: block; margin: auto;}

main{background-color: white; max-width: 1000px; min-width: 320px;margin: auto; padding: 20px; margin-bottom: 30px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548); border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;}

main h1 {font-family: var(--font-android); color: var(--cor5);}

main h2 {font-family: var(--font-android); font-size: 1.3em; color: var(--cor4); background-image: linear-gradient(to right, var(--cor3), transparent); text-indent: 7px;}

main p {margin: 20px 0px; text-indent: 30px; text-align: justify; font-size: 1em; line-height: 1.5em;}

main strong {color: #2b9458; font-weight: bolder;}

main a {text-decoration: none; color: var(--cor4); background-color: var(--cor3); padding: 2px 6px; font-weight: bolder;}

main a:hover {text-decoration: underline; color: blue;}

div.video{background-color: #1a5c37; margin: 0px -20px 30px -20px; padding: 20px; position: relative; padding-bottom: 59%;}

div.video > iframe{position: absolute; top: 0%; left: 0%; width: 100%; height: 100%;}

aside {background-color: var(--cor1); padding: 10px; border-radius: 15px; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);}

aside > h3 {background-color: var(--cor4); padding: 10px; margin: -10px -10px 0px -10px; border-top-left-radius: 15px; border-top-right-radius: 15px;}

aside > ul {list-style-position: inside; columns: 1; list-style-type: '\2714\00A0\00A0';}

footer {background-color: var(--cor5); color: var(--cor1); padding: 5px; text-align: center;}

footer a {color: white; font-weight: boder; text-decoration: underline;}

footer a:hover {font-size: 0.9em; transition-duration: 0.2s;}